@import "../../bower_components/compass-sass-mixins/lib/animate";

@mixin bouncein($name, $y-axisa, $y-axisb, $y-axisc, $y-axisd){
  @keyframes $name{
    0%{
        @include shape-position-bottom($y-axisa);
    }
    20%, 40% {
        @include shape-position-bottom($y-axisb);
    }
    30% {
         @include shape-position-bottom($y-axisc);
    }
  45% {
     @include shape-position-bottom($y-axisd);
   }
}
};


#square-sm{ 
     @include shape-position-left(30%);
    @include bouncein(bounce, 0em, 3em, 0em, 3em);
 animation: bounce 2s ease-out 1;
  animation-delay: 2s;
  animation-fill-mode:both;


}



//   @keyframes $name{
//     0%{
//         @include shape-position(-50%);
//     }
//     20%, 40% {
//         @include shape-position(3em);
//     }
//     30% {
//          @include shape-position(0em);
//     }
//   45% {
//      @include shape-position(3em);
//    }
// }
// }


