/*Shape Base
=====================================*/

 .rectangle {
	width: 200px;
	height: 100px;
}



/*Colors
=====================================*/

#square-lg{
		background-color:rgba( $square-color, .7 )
}
#square-md{
	background-color:rgba( $square-color, .5 )
}

#square-sm{
	background-color:rgba( $square-color, .2 )
}



#square-lg{
		@include border-shape( lighten($square-color, 10%) )
}
#square-md{
		@include border-shape( lighten($square-color, 20%) )
}

#square-sm{
		@include border-shape( lighten($square-color, 30%) )
}



/*Positions
=====================================*/



.shape{
	position: absolute;
}

#square-lg{
	@include shape-position(3em, 2%)
}
#square-md{
	@include shape-position(3em, 40%)
}

#square-sm{
	@include shape-position(3em, 30%)
}

#round-button{
	@include shape-position(3em, 40%)
}


/*Size
=====================================*/

#square-lg{
	@include shape-size(90%, 80%);
}
#square-md{
	@include shape-size(50%, 60%);
}

#square-sm{
	@include shape-size(14%, 45%);
}



/* Cleaner, but slightly less support: use "50%" as value */



/*Shadows
=====================================*/
.shape{
	box-shadow: -4px 3px 7px 6px rgba(0,0,0,0.17);
}