
//Shape Position and Size

@mixin shape-position($bottom, $left){
	bottom: $bottom;
	left: $left;
};

@mixin shape-size($width, $height){
	width:$width;
	height:$height;
};

@mixin border-shape($color){
border-color: $color;
border-style: solid;
border-width: 2px;
};

//Text-Shadow

$fp-text-shadow: -1px 1px 4px rgba(162, 150, 150, 1);


//Rounded Button

@mixin roundedbutton($radius, $fontsize, $paddingt, $paddingl, $paddingb, $paddingr) {

  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);

  border-radius: $radius;
  font-family: Arial;
  color: #ffffff;
  font-size: $fontsize;
  padding: $paddingt  $paddingl $paddingb $paddingr;
  text-decoration: none;

    &:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
};




