
@mixin shape-position-left($left){
		left: $left;
}

@mixin shape-position-bottom($bottom){
			bottom: $bottom;
}

@mixin shape-position($bottom, $left){
	bottom: $bottom;
	left: $left;
};

@mixin shape-size($width, $height){
	width:$width;
	height:$height;
};

@mixin border-shape($color){
border-color: $color;
border-style: solid;
border-width: 2px;
};

//text-shadow

$fp-text-shadow: -1px 1px 4px rgba(162, 150, 150, 1);